services:
  - name: botdy
    type: web
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python main.py"
    envVars:
      - key: BOT_TOKEN
        value: "7996482415:AAFZh4E-ivoOhRi8s_6Vg2qKvATOhAm54ek"
